@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
*, *:after, *:before {
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Arimo, Tahoma, sans-serif;
  font-size: 16px; }

header {
  text-align: center;
  padding: 25px 0; }

main {
  text-align: center; }

.search-field {
  max-width: 460px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  font-size: 1rem;
  color: #ccc; }

.gallery {
  max-width: 980px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto; }

.gallery__item {
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  margin-bottom: 60px;
  cursor: pointer; }

#lightbox {
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9); }
  #lightbox__content {
    width: 80%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 100px auto 0;
    opacity: 1; }
    #lightbox__content img {
      max-width: 60%;
      width: 100%;
      opacity: 1;
      z-index: 999; }
    #lightbox__content figcaption {
      width: 600px;
      padding: 40px 0;
      font-size: 1.1rem;
      color: white; }
  #lightbox .fa {
    font-size: 3rem;
    color: white;
    cursor: pointer; }
  #lightbox .fa-times {
    position: absolute;
    top: 10px;
    right: 10px; }

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }
